{% extends 'base.html' %}

{% block content%}


<div class="centered row" style='padding-top: 5%; padding-left : 5%'; >
    <div class="input-field col s12 m6 offset-m3 container">
      <div class="center-align">
          <div class="row">
            <div class="row">

              <div>
                <i class="material-icons">contact_phone</i>
                <div>(555)91234-5678</div>
              </div>

              <div>
                <i class="material-icons">contact_mail</i>
                <div>spottedapp@notreal.com</div>
              </div>

              <div>
                <i class="material-icons">markunread_mailbox</i>
                <div>Avenida placeholder, numero 42</div>
              </div>
            </div>
          </div>
      </div>
    </div>  
</div>

{% endblock %}
        