{%block footer%}

<footer class="page-footer" style='background-color: #07357d;'>
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">That App</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Sobre</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contatos</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Ajuda</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Denuncias</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

{%endblock%}