{% extends 'base.html' %}

{% block content%}


<div class="centered row" style='padding-top: 5%; padding-left : 5%'; >
    <div class="input-field col s12 m6 offset-m3 container">
      <div class="center-align">
          <div class="row">
            <div class="row">
              <h6 class="flow-text">
This Agreement may also use the license or settlement) prior to termination shall survive any termination of this License and the output from the Licensed Program. THIS LICENSED PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE ENTIRE RISK AS TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR THAT THE FUNCTIONS CONTAINED IN THE SOFTWARE. Preamble The licenses for most software are designed to take over maintenance. Work identical with the library.
              </h6>
            </div>
          </div>
      </div>
    </div>  
</div>

{% endblock %}
        